/Hauptdatei.aux
/Hauptdatei.lof
/Hauptdatei.log
/Hauptdatei.lot
/Hauptdatei.out
/Hauptdatei.toc
/abstract.aux
/erklaerung.aux
/1_introduction.tex.aux
/2_uvm.tex.aux
/3_uvm_ml.tex.aux
/4_conclusion.tex.aux
/5_future_work.tex.aux
